body, h1, h2, p, form, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}


body {
    background-color: rgb(250, 242, 235);
    font-family: Arial, sans-serif;
}

/* Sidebar styles */
.sidebar {
    background-color:  #925e46;
    color: #fff;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: 0.3s;
    padding-top: 20px;
}

.sidebar a {
    padding: 15px 20px;
    text-align: left;
    text-decoration: none;
    font-size: 22px;
    display: block;
    transition: 0.3s;
    color: #fff;
}

.sidebar a:hover {
    background-color: #a3390c; /* Highlight color */
}

/* Main body styles */


.toggle-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.toggle-button:hover {
    background-color: #0056b3;
}

/* Search bar styles */
#searchForm {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#searchText {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Tags styles */
h4 {
    font-size: 18px;
    margin-top: 20px;
    color: #a3390c; /* Match your desired color */
}
.main-body {
    margin-left: 220px;
    padding: 20px;
    transition: 0.3s;
}
.btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Threads styles */
.scrollable {
    max-height: 400px;
    overflow-y: auto;
}

.thread {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 16px;
    background-color: rgb(250, 242, 235); /* Match your desired background color */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.thread a {
    color: #007BFF;
    text-decoration: none;
}

.thread a:hover {
    text-decoration: underline;
}
